@model IEnumerable<AirUdC.GUI.Models.Manager.FeedbackModel>

@{
    ViewBag.Title = "Retroalimentaciones";
}

<h2>Retroalimentaciones</h2>
<p>
    <a class="btn btn-primary" href="@Url.Action("Create")">Agregar Nuevo</a>
</p>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.RateForOwner)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CommentsForOwner)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RateForCustomer)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CommentsForCustomer)
                </th>
                <th>
                    Reservation ID
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.RateForOwner)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CommentsForOwner)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RateForCustomer)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CommentsForCustomer)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Reservation.ReservationId)
                    </td>
                    <td>
                        @Html.ActionLink("Editar", "Edit", new { id = item.FeedbackId }, new { @class = "btn btn-primary" }) |
                        @Html.ActionLink("Detalles", "Details", new { id = item.FeedbackId }, new { @class = "btn btn-info" }) |
                        @Html.ActionLink("Eliminar", "Delete", new { id = item.FeedbackId }, new { @class = "btn btn-danger" })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
