@model AirUdC.GUI.Models.Manager.PropertyOwnerModel

@{
    ViewBag.Title = "Detalles del Propietario";
}

<h2>@ViewBag.Title</h2>

<div class="card">
    <div class="card-body">
        <h4 class="card-title">Detalles del Propietario</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-3">Nombre:</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.FirstName)</dd>

            <dt class="col-sm-3">Apellido:</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.FamilyName)</dd>

            <dt class="col-sm-3">Email:</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.Email)</dd>

            <dt class="col-sm-3">Teléfono:</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.Cellphone)</dd>

            <dt class="col-sm-3">Foto:</dt>
            <dd class="col-sm-9">
                <img src="@Model.Photo" alt="Owner Photo" style="max-width: 200px; max-height: 200px;" />
            </dd>
        </dl>
    </div>
</div>

<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.PropertyOwnerId }, new { @class = "btn btn-primary" }) |
    @Html.ActionLink("Volver a la Lista", "Index", new { }, new { @class = "btn btn-secondary" })
</p>
