@model IEnumerable<AirUdC.GUI.Models.Manager.PropertyOwnerModel>

@{
    ViewBag.Title = "Propietarios";
}

<h2>Propietarios</h2>

<p>
    <a href="@Url.Action("Create")" class="btn btn-primary">Agregar Nuevo</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FamilyName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cellphone)
        </th>
        <th>
            Photo
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FamilyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cellphone)
            </td>
            <td>
                <img src="@item.Photo" alt="Owner Photo" style="max-width: 100px; max-height: 100px;" />
            </td>
            <td>
                <a href="@Url.Action("Edit", new { id = item.PropertyOwnerId })" class="btn btn-warning">Editar</a> |
                <a href="@Url.Action("Details", new { id = item.PropertyOwnerId })" class="btn btn-info">Detalles</a> |
                <a href="@Url.Action("Delete", new { id = item.PropertyOwnerId })" class="btn btn-danger">Eliminar</a>
            </td>
        </tr>
    }
</table>
