@model IEnumerable<AirUdC.GUI.Models.Manager.PropertyModel>

@{
    ViewBag.Title = "Index";
}

<div class="container">
    <h2>Index</h2>

    <div class="row">
        <div class="col-md-12">
            <p>
                @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.PropertyAddress)</th>
                        <th>@Html.DisplayNameFor(model => model.CustomerAmount)</th>
                        <th>@Html.DisplayNameFor(model => model.Price)</th>
                        <th>@Html.DisplayNameFor(model => model.CheckinData)</th>
                        <th>@Html.DisplayNameFor(model => model.CheckoutData)</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.PropertyAddress)</td>
                            <td>@Html.DisplayFor(modelItem => item.CustomerAmount)</td>
                            <td>@Html.DisplayFor(modelItem => item.Price)</td>
                            <td>@Html.DisplayFor(modelItem => item.CheckinData)</td>
                            <td>@Html.DisplayFor(modelItem => item.CheckoutData)</td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.PropertyId }, new { @class = "btn btn-info" }) |
                                @Html.ActionLink("Details", "Details", new { id = item.PropertyId }, new { @class = "btn btn-success" }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.PropertyId }, new { @class = "btn btn-danger" })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
