@model IEnumerable<AirUdC.GUI.Models.Parameters.CountryModel>

@{
    ViewBag.Title = "Países";
}

<h2>Países</h2>

<div class="container">
    <a href="@Url.Action("Create")" class="btn btn-success mb-3">Agregar Nuevo</a>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.CountryName)
                </th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CountryName)
                    </td>
                    <td>
                        <a href="@Url.Action("Edit", new { id = item.CountryId })" class="btn btn-primary btn-sm">Editar</a>
                        <a href="@Url.Action("Details", new { id = item.CountryId })" class="btn btn-info btn-sm">Detalles</a>
                        <a href="@Url.Action("Delete", new { id = item.CountryId })" class="btn btn-danger btn-sm">Eliminar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
