@model IEnumerable<AirUdC.GUI.Models.Parameters.MultimediaTypeModel>

    @{
    ViewBag.Title = "Index";
    }

    <div class="container">
        <h2>Index</h2>

        <div class="row">
            <div class="col-md-12">
                <p>
                    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.MultimediaTypeName)</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model) {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.MultimediaTypeName)</td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.MultimediaTypeId }, new { @class = "btn btn-info" }) |
                                @Html.ActionLink("Details", "Details", new { id = item.MultimediaTypeId }, new { @class = "btn btn-success" }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.MultimediaTypeId }, new { @class = "btn btn-danger" })
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
