@model IEnumerable<AirUdC.GUI.Models.Manager.ReservationModel>

@{
    ViewBag.Title = "Reservaciones";
}

<h2>Reservaciones</h2>

<p>
    <a class="btn btn-primary" @Html.ActionLink("Agregar Nuevo", "Create")></a> 
</p>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EnterDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OutDate)
                </th>
                <th>
                    Customer
                </th>
                <th>
                    Property ID
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EnterDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OutDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Customer.FirstName)

                        @Html.DisplayFor(modelItem => item.Customer.FamilyName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.property.PropertyId)
                    </td>
                    <td>
                        @Html.ActionLink("Editar", "Edit", new { id = item.ReservationId }, new { @class = "btn btn-primary" }) |
                        @Html.ActionLink("Detalles", "Details", new { id = item.ReservationId }, new { @class = "btn btn-info" }) |
                        @Html.ActionLink("Eliminar", "Delete", new { id = item.ReservationId }, new { @class = "btn btn-danger" })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
